<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="60">
    <Properties>
        <property name="log_charset">UTF-8</property>
        <property name="common_log_pattern">%d [%X{traceId}] %X{QTRACER} [%t] [%level] [%logger{0}.%M:%L] - %msg%n</property>
        <property name="simple_log_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%logger{0}.%M:%L] %msg%n</property>
        <property name="thirdParty_log_pattern">%d{yyyy-MM-dd HH:mm:ss,SSS}####%X{traceId} [%t] [%p] [%logger{0}.%M:%L] %m####%X{uid}####%X{vid}####%X{pid}####%X{cid}####%X{QTRACER}%n</property>
        <property name="kylin_error_log_pattern">%d{yyyy-MM-dd HH:mm:ss,SSS}####%X{traceId}####[%t] [%p] [%logger{0}.%M:%L] %m####%X{uid}####%X{vid}####%X{QTRACER}%n</property>
        <property name="every_file_size">300MB</property>
        <property name="logBaseFolder">/tmp/logs</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${common_log_pattern}"/>
        </Console>

        <RollingFile name="SystemAppender"
                     filePattern="${logBaseFolder}/system.log-%d{yyyy-MM-dd-HH}.gz"
                     fileName="${logBaseFolder}/system.log">
            <PatternLayout charset="${log_charset}" pattern="${common_log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>

        <RollingFile name="DBAppender"
                     filePattern="${logBaseFolder}/db.log.%d{yyyy-MM-dd}.gz"
                     fileName="${logBaseFolder}/db.log">
            <PatternLayout charset="${log_charset}" pattern="${simple_log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="ABAppender"
                     filePattern="${logBaseFolder}/abtest.log.%d{yyyy-MM-dd-HH}.gz"
                     fileName="${logBaseFolder}/abtest.log">
            <PatternLayout charset="${log_charset}" pattern="${simple_log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>

        <RollingFile name="ABAlternativeAppender"
                     filePattern="${logBaseFolder}/abtest_alternative.log.%d{yyyy-MM-dd-HH}.gz"
                     fileName="${logBaseFolder}/abtest_alternative.log">
            <PatternLayout charset="${log_charset}" pattern="${simple_log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>

        <RollingFile name="ThirdPartyAppender"
                     filePattern="${logBaseFolder}/kylin_monitor_company.log.%d{yyyy-MM-dd-HH}.gz"
                     fileName="${logBaseFolder}/kylin_monitor_company.log">
            <PatternLayout charset="${log_charset}" pattern="${thirdParty_log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>

        <RollingFile name="KylinErrorAppender"
                     filePattern="${logBaseFolder}/kylin_error.log.%d{yyyy-MM-dd-HH}.gz"
                     fileName="${logBaseFolder}/kylin_error.log">
            <PatternLayout charset="${log_charset}" pattern="${kylin_error_log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>


        <logger name="monitor_company" level="info" additivity="false">
            <appender-ref ref="ThirdPartyAppender"/>
        </logger>

        <logger name="RocketmqRemoting" level="warn" additivity="false"/>


<!--        <Logger name="com.qunar.db.resource" level="info" additivity="false">-->
<!--            <AppenderRef ref="DBAppender"/>-->
<!--        </Logger>-->

<!--        <Logger name="com.qunar.redis.storage" level="info" additivity="false">-->
<!--            <appender-ref ref="DBAppender"/>-->
<!--        </Logger>-->

    </Loggers>

</Configuration>