<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingo.hotel.spa.intl.core.api.expedia.mapper.ExpediaQueryPriceTaskMapper">

    <resultMap id="BaseResultMap" type="com.bingo.hotel.spa.intl.core.api.expedia.model.ExpediaQueryPriceTask">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="sh_id" property="shId" jdbcType="VARCHAR" />
        <result column="delay_check_in" property="delayCheckIn" jdbcType="INTEGER" />
        <result column="delay_check_out" property="delayCheckOut" jdbcType="INTEGER" />
        <result column="query_count" property="queryCount" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
        <result column="priority_level_number" property="priorityLevelNumber" jdbcType="INTEGER" />
        <result column="temporary_upgrade" property="temporaryUpgrade" jdbcType="INTEGER" />
        <result column="upgrade_deadline" property="upgradeDeadline" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="BASE_LIST">
        id, sh_id, delay_check_in, delay_check_out, query_count, update_time, last_time, priority_level_number, temporary_upgrade, upgrade_deadline
    </sql>

    <select id="getQueryPriceTaskList" resultMap="BaseResultMap">
        SELECT
        <include refid="BASE_LIST"/>
        FROM ratehawk_query_price_task
        WHERE priority_level_number = #{priorityLevelNumber}
        <if test="1 == temporaryUpgrade">
            or temporary_upgrade = #{temporaryUpgrade}
        </if>
        <if test="0 == temporaryUpgrade">
            and temporary_upgrade = #{temporaryUpgrade}
        </if>
        order by update_time limit 1000
    </select>

    <update id="updateAddCount"
            parameterType="com.bingo.hotel.spa.intl.core.api.expedia.model.ExpediaQueryPriceTask">
        update expedia_query_price_task
        set query_count = #{queryCount} + 1 , last_time = #{updateTime}, temporary_upgrade = #{temporaryUpgrade}
        WHERE id = #{id}
    </update>

</mapper>